#company-list{
display: flex;
list-style: none;
align-items: center;
padding: 50px 0;
}
#company-item{
padding: 10px;
border-radius: 15px;
margin: 10px;
}
.buy-link{
    text-decoration: none;
    color: turquoise;
}