#form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
#company{
    text-align: center;
}
#company-link{
    text-decoration: none;
}
#complex-apartments-list{
list-style: none;
/* height: 430px; */
/* overflow-y:auto ; */
}
#complex-apartments-item{
    display: flex;
    align-items: center;
    margin: 15px 0;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#text{
    /* font-size: 20px; */
    margin-bottom: 10px;
    margin-left: 20px;
}
.tanlangan{
    border: 2px solid red;

}
/* .div{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */
#select{
    margin: 10px ;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #40e0d0;
    border-radius: 10px;
}
#title{
    font-size: 20px;
    margin-top: 10px;
}
#modal{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
background-color: rgba(64, 224, 208,.8);
 display: none;  
}
#modal-body{
    text-align: center;
width: 400px;
height: 400px;
margin: auto;
background-color: #fff;
margin-top: 100px;
padding-top: 100px;
border-radius: 20px;
position: relative;
box-sizing: border-box;
}
.input{
    margin: 10px 0;
border-radius:10px ;
border: none;
background-color: rgba(64, 224, 208,.2);
padding: 10px;
}
#btn-modal{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
background-color: rgba(64, 224, 208,.2);
}
#close{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}